PORT=3000

DB_HOST=localhost
DB_USER=root
DB_PASS=sua_senha
DB_NAME=seu_banco

MODBUS_IP=127.0.0.1
MODBUS_PORT=5020
MODBUS_REAL=false

MP_ACCESS_TOKEN=seu_token_sandbox
MP_WEBHOOK_URL=http://localhost:3000/api/webhook/mp

JWT_SECRET=segredo_qualquer